.slider-container {
  position: relative;
  width: 100%;
  padding: 100px;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}
.slick-slide img {
  display: flex !important;
}

.slide {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.left-section {
  flex: 1;
  padding: 0 10px 0 10px;
  max-width: 27%; /* Adjusted width */
  align-items: flex-start;
}
.altleft-section{
  display: none !important;
}

.right-section {
  padding: 50px;
  margin-top: 7%;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 35%; /* Adjusted width */
  margin-bottom: 10%;
}

.left-section img {
  // max-width: 80px; /* Reduced logo size */
  margin-bottom: 20px;
  height: 100px;
}

.left-section h1 {
  font-size: 3.5rem; /* Adjusted font size */
  color: #fff;
  margin-bottom: 10px;
}

.left-section p {
  font-size: 1.75rem;
  color: #ccc;
  margin-bottom: 10px;
}

.left-section .read-more {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.right-section img {
  height: 350px;
  border-radius: 10px;
  margin-left: 1px; /* Reduce gap between images */
}

.altright-section{
  display: none !important;
}

.playstore {
  display: block;
  align-items: flex-start;
  height: 10px;
  width: 170px;
}
.read {
    background: linear-gradient(135deg, #148983, #1db954); /* Gradient background */
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1.5rem; /* Slightly smaller font size */
    color: #fff; /* White text color */
    border-radius: 10px; /* More rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    :active {
      transform: translateY(0); /* Return button to its original position on click */
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15); /* Reduce shadow on click */
    }
  }
  .read:hover {
    background: linear-gradient(135deg, #1db954, #148983); /* Reverse the gradient */
    transform: translateY(-2px); /* Slightly raise the button on hover */
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
  }

@media (max-width: 1300px) {
  .slide {
    max-width: 1000px;
  }
  .left-section,
  .right-section {
    max-width: 50%; /* Adjusted width for medium screens */
  }
  .left-section h1 {
    font-size: 2rem; /* Adjusted font size */
    margin-bottom: 15px; /* Adjusted margin-bottom */
    max-width: 45%;
  }

  .left-section p {
    font-size: 1.25rem; /* Adjusted font size */
    margin-bottom: 15px; /* Adjusted margin-bottom */
    max-width: 45%;
  }

  .right-section img {
    height: 250px; /* Adjusted height for medium screens */
  }
  .playstore {
    height: 10px;
    width: 150px;
  }
}

@media (max-width: 1200px) {
  .left-section,
  .right-section {
    max-width: 50%; /* Adjusted width for medium screens */
  }
  .left-section img {
    // max-width: 80px; /* Reduced logo size */
    margin-bottom: 20px;
    height: 80px;
  }
  .left-section h1 {
    font-size: 2rem; /* Adjusted font size */
    margin-bottom: 15px; /* Adjusted margin-bottom */
    max-width: 45%;
  }

  .left-section p {
    font-size: 1.25rem; /* Adjusted font size */
    margin-bottom: 15px; /* Adjusted margin-bottom */
    max-width: 45%;
  }

  .right-section img {
    height: 250px; /* Adjusted height for medium screens */
  }
  .playstore {
    height: 10px;
    width: 150px;
  }
  .read{
    font-size: 1.2rem;
  }
}

@media (max-width: 992px) {
  .slider-container {
  padding: 50px;
  }
  .slide {
    padding: 0px;
  }
  .left-section,
  .right-section {
    max-width: 100%; /* Full width for smaller screens */
    // padding-right: 10px; /* Reduced padding */
    padding: 0;
  }

  .right-section {
    /* Stack images vertically */
    margin-right: 0;
  }

  .left-section img {
    height:60px;
    margin-bottom: 5px;
    
  }
  .left-section h1 {
    font-size: 2rem;
    margin-bottom: 3px;
  }

  
  .left-section p {
    font-size: 1.5rem;
    margin-bottom: 3px;
  }
  
  .right-section img {
    height: 200px; /* Adjusted height for smaller screens */
    margin-left: 0;
    margin-bottom: 10px; /* Added margin-bottom for spacing */
  }
  .playstore {
    height: 10px;
    width: 100px;
  }
}

@media (max-width: 700px) {
  .slider-container {
  padding: 30px;
  }
  .slide {
    padding: 0;
    // align-items: center; /* Center elements */
    // padding: 20px; /* Add padding for mobile */
  }
  .left-section {
    display: none !important;
   
  }
  .right-section{
    display: none !important;
  }
  .altleft-section{
    padding: 0 0 20px 0;
    display: flex !important;
    flex-direction: column;
  }
  .altleft-section img {
    height: 50px; /* Adjusted height for smaller screens */
  }

  .altcol-l{
    vertical-align: middle;
    max-width: 80%;
    display: flex;
    flex-direction: row !important;

    h1{
      margin: 15px 0 0 0;
      color: #fff;
      font-size: 2rem;
      vertical-align: middle;
    }

  }
  .altcol-r{
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    p{
      font-size: 1.75rem;
      color: #fff;
    }
  }
  .altright-section    {
    display: flex !important; /* Display alternate section on mobile */
    justify-content: center; /* Center-align the alternate images */
    max-width: 40%;
    align-items: flex-end;
    }
  .altright-section img {
    height: 200px;
    width: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Add border-radius if needed */
  }
  .read{
    margin: 10px 0 0 0;
    font-size: 1rem;
  }
  .playstore {
    height: 10px;
    width: 80px;
  }

}
